<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /my_cms/my_cms/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /my_cms/my_cms/index.php [L]
</IfModule>